.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.search-result {
  margin: 2rem;
  color: grey;
}

.logo {
  width: 180px;
}

:global(.button).button {
  color: white;
  background-color: #b88080;
  border: none;
  margin-top: 1em;
  width: 100%;
}

.login_logo {
  height: 1.5rem;
  margin: 0.25em;
}

:global(.button).google {
  height: fit-content;
  width: fit-content;
  border: none;
  margin: 0.5em;
  background: white;
  color: grey;
}

:global(.button).facebook {
  width: fit-content;
  height: fit-content;
}

.or-div {
  margin: 2rem;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.place-name{
  margin-top: 0.5em;
  margin-bottom: 1em;
  background: #b88080;
  color: white;
}

.place-info{
  font-weight: bold;
}
