.nav{
  width: inherit;
  position: relative;
  /* background: rgb(51, 51, 51);   */
  display: inline-flex;
  height: fit-content;
  background: #d32323;
  padding: 2vh;

}

.nav-bar {
  display: inline-flex;
  height: 90%;
  background: #d32323;
  padding: 1vh;
}

.logo {
  height: 4em;
}

:global(.button).nav-button {
  color: white;
  background: #b88080;
  border: none;
  font-size: 1em;
}

.loggedin-text {
  margin-top: 1rem;
  color: white;
}

