.nav{
  height: fit-content;
  float: left;
}

.nav-bar {
  width: fit-content;
  display: flex;
  background: #d32323;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  margin-right: 1rem;
  width: 75px;
}

:global(.button).nav-button {
  color: white;
  background: #b88080;
  border: none;
}

.loggedin-text {
  margin-top: 1rem;
  margin-right: 1rem;
  color: white;
}

.footer {
  vertical-align: bottom;
  color: grey;
  float:right;
}